
:root{

  --primary:#B33F62;
  --secondary:#FFFFFF;
  --complimentary:#360568;
  --spare: #F39237;
  --border: #20A39E;

}

#Logo {
  max-width: 60vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.App-Body {
  background-color:var(--secondary);
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Company_name {

  background-color: var(--primary);
  padding-top: 50px;
  min-height: 20vh;
  color: var(--complimentary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  justify-content: center;
  

}

.Company_name.h1 {
  font-size: 50px;
}

.App-link {
  color:var(--spare);
}

.Header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

}

.nav {
  background-color:var(--primary);
  padding-top:10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}

.nav-link {
  color:var(--secondary);
  font-size: 20px;
  padding-top:10px;
  
}

#active {
  background-color: var(--secondary);
  border-top-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
}

#inactive:hover {
  color:var(--spare);
  border-color: var(--primary);
  border-top-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
}

.nav-item {
  padding-bottom:0px;
}

.Footer {
  min-height: 50px;
  background-color:var(--primary);
  color: var(--secondary);
  
}
.Credits {
  font-size: 10px;
  color:var(--spare);
  float: right;
  padding-right: 10px;
  text-align: right;
}
.link:link, .link:visited {
  color:var(--secondary);
}