.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-Body {
  background-color:#F7FFF7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Company_name {

  background-color: #294C60;
  padding-top: 50px;
  min-height: 20vh;
  color: #FFE66D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  justify-content: center;
  

}

.Company_name.h1 {
  font-size: 50px;
}

.App-link {
  color:#FFE66D;
}

.Header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

}

.nav {
  background-color:#294C60;
  min-height:10vh;
  padding-top:10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
}

.nav-link {
  color:#F7FFF7;
  font-size: 20px;
  padding-top:10px;
}
.nav-link:hover {
  color:#FFE66D;
}