:root {

  --primary: #212529;
  --secondary: #ECF0F1;
  --highlight: #6F1A07;
  --green: #7C7F65;
  --transparent: #cccccc00;
}

body{

  background-color: #294C60 !important;

}


.App {
  background-image: 
    linear-gradient(to right, var(--primary) 33%, var(--transparent)),
    url('./melb.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
  
  min-height: 150vh;
  display: inline-block;
  vertical-align: middle;

  font-size: calc(10px + 2vmin);

  z-index: 0;
  
}

.Logo {

  border-radius: 20%;
  max-height: 50vh;
  z-index: 3;
  float: left;
  margin: 5%;
  position: sticky;
  top:5%;
}

.ScrolledLogo {

  border-radius: 20%;
  max-height: 20vh;
  z-index: 3;
  float: left;
  margin: 5%;
  position: sticky;
  top:5%;

}


.TextBody {

  float: right;
  margin: 5%;
  color: var(--secondary);
  min-height: max-content;
  text-align: center;
  vertical-align: middle;

}
