
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a2e30 !important;
  background: url("Logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Animation-Img {

  height: 200px;
  width: 200px;
  background-color: var(--secondary);
  border-radius: 50%;
  z-index: 0;
  position: absolute;

}

.x {
  animation: x 10s linear infinite alternate;
}
.y {
  animation: y 7s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 200px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 200px));
  }
}
